.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}

.home-navbar {
  width: 1920px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 100%;
  height: 5vh;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
}

.home-logo {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.home-desktop-menu {
  display: none;
}

.home-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-container1 {
  right: 94px;
  width: 424px;
  height: 5vh;
  display: flex;
  margin-top: 1rem;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

.home-link {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  text-align: right;
  font-weight: 600;
  text-decoration: none;
}

.home-button {
  top: 0px;
  left: 173.40625px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 22px;
  font-style: normal;
  text-align: right;
  font-weight: 600;
}

.home-link1 {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  position: absolute;
  font-size: 22px;
  font-style: normal;
  text-align: right;
  font-weight: 600;
  text-decoration: none;
}

.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-text {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text1 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text2 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text3 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text4 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}

.home-image {
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.home-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: start;
  flex-direction: column;
}

.home-header {
  color: rgb(255, 255, 255);
  width: 967px;
  font-size: 60px;
  max-width: 100%;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 108px;
}

.home-headerr {
  color: rgb(255, 255, 255);
  display: flex;
  text-align: left;
  font-size: 45px;
  max-width: 100%;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 108px;
}

.home-jondoewebp {
  width: 100%;
  object-fit: cover;
}

.home-paragraph {
  color: rgb(255, 255, 255);
  width: 1699px;
  height: 126px;
  font-size: 40px;
  line-height: 60px;
}

.home-collection {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 80px;
}

.home-heading1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-header1 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  align-self: center;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5rem;
}

.home-container4 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 4rem;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  justify-content: center;
}

.home-image1 {
  flex: 2;
  width: 600px;
  height: 600px;
  align-self: stretch;
  object-fit: cover;
}

.home-image7 {
  flex: 2;
  width: 600px;
  height: 600px;
  align-self: stretch;
  object-fit: cover;
}

.home-text5 {
  color: rgb(253, 253, 253);
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  margin-left: var(--dl-space-space-fourunits);
}

.home-image2 {
  width: 1800px;
  height: 1340px;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
}

.home-image3 {
  width: 1800px;
  height: 1400px;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
}

.home-footer {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: 120px;
  flex-direction: column;
  background-color: #D9D9D9;
}

.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.home-textinput {
  color: #ffffff;
  width: 656px;
  height: 51px;
  align-self: center;
  margin: 5px;
  border-color: rgba(0, 0, 0, 0);
  background-color: #ADADAD;
}

.home-textinput1 {
  color: #ffffff;
  width: 656px;
  height: 51px;
  align-self: center;
  margin: 5px;
  border-color: rgba(0, 0, 0, 0);
  background-color: #ADADAD;
}

.home-textinput2 {
  color: #ffffff;
  width: 656px;
  height: 144px;
  align-self: center;
  margin: 5px;
  border-color: rgba(0, 0, 0, 0);
  background-color: #ADADAD;
}

.home-button1 {
  color: #ffffff;
  width: 253px;
  height: 52px;
  display: flex;
  align-self: center;
  text-align: center;
  align-items: stretch;
  border-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
  background-color: #18181a;
}

.home-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}

.home-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-list {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  padding-bottom: 5rem;
}

.home-heading2 {
  color: #ADADAD;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  padding-top: 50px;
}

.home-heading3 {
  color: #ADADAD;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.home-heading4 {
  color: #ADADAD;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.home-heading5 {
  color: #ADADAD;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.home-socials1 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-image4 {
  width: 100px;
  object-fit: cover;
}

.home-image5 {
  width: 100px;
  object-fit: cover;
}

.carousel {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carousel-inner {
  max-width: 600px;
  max-height: 1000px;
}
