* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #959191;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding-left: 150px;
}

.header a:hover {
    background-color: #959191;
}

.header-right {
    float: right;
    padding-left: 150px;
    padding-right: 150px;
}

.imagens {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    background-color: #D9D9D9;
}

.imagemsecundaria {
    margin: 50px;
    max-width: 30%;
    max-height: 30%;
    text-align: center;
    background-color: #D9D9D9;
}

.secundaria {
    display: flex;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: space-between;
}

.textosecundaria {
    margin: 30px;
    font-size: 25px;
    color: #3A3939;
}

.titulosecundaria {
    font-size: 45px;
}

.terciaria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3A3939;
}

.tituloterciaria {
    font-size: 45px;
    color: whitesmoke;
}

.textoterciaria {
    margin: 30px;
    font-size: 25px;
    color: whitesmoke;
}

.imagemterciaria {
    margin: 50px;
    max-width: 30%;
    max-height: 30%;
    text-align: center;
}

.quarta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #3A3939;
}

.textoquarta {
    margin: 60px;
    font-size: 25px;
    color: whitesmoke;
}

.quartaimagem {
    margin: 50px;
    max-width: 30%;
    max-height: 30%;
    text-align: center;
}